swagger: "2.0"
info:
  title: "Cronitor API"
  version: "0.0.1"
  description: ""
host:  cronitor.io
schemes:
  - https
consumes:
  - "application/json"
produces:
  - "application/json"
securityDefinitions:
  basicAuth:
    type: basic
tags:
  - name: monitor
    description: manage a monitor
  - name: heartbeat
    description: send monitor heartbeats
paths:
  /v3/monitors:
    post:
      summary: "Create a new monitor"
      description: ""
      operationId: Create
      tags:
        - monitor
      parameters:
      - in: body
        name: payload
        description: "some day"
        required: true
        schema:
          $ref: "#/definitions/MonitorParams"
      security:
        - basicAuth: []
      responses:
        201:
          description: "The monitor was successfully created"
          schema:
            $ref: "#/definitions/Monitor"
        400:
          description: ""
  /v3/monitors/{code}:
    get:
        summary: "Get a monitor"
        description: ""
        operationId: Get
        tags:
          - monitor
        parameters:
        - in: path
          name: code
          type: string
          required: true
          description: "Might be the monitor code or name"
        security:
          - basicAuth: []
        responses:
          200:
            description: ""
            schema:
              $ref: "#/definitions/Monitor"
          404:
            description: ""
            schema:
              $ref: "#/definitions/NotFound"
    put:
      summary: "Update a monitor"
      description: ""
      operationId: Update
      tags:
        - monitor
      parameters:
      - in: path
        name: code
        type: string
        required: true
        description: "Might be the monitor code or name"
      - in: body
        name: payload
        description: "some day"
        required: true
        schema:
          $ref: "#/definitions/MonitorParams"
      security:
        - basicAuth: []
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/Monitor"
        404:
          description: ""
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      summary: "Delete a monitor"
      description: ""
      operationId: Delete
      tags:
        - monitor
      parameters:
        - in: path
          name: code
          type: string
          required: true
          description: "Might be the monitor code or name"
      security:
        - basicAuth: []
      responses:
        204:
          description: "Server will respond with HTTP 204 status code upon successful deletion"
        404:
          description: ""
          schema:
            $ref: "#/definitions/NotFound"
  /{code}/run:
    get:
      summary: "My Job Is Running"
      operationId: ReportRun
      tags:
        - heartbeat
      parameters:
      - in: path
        name: code
        type: string
        required: true
        description: "Might be the monitor code or name"
      - in: query
        name: auth_key
        type: string
      tags:
        - heartbeat
      responses:
        200:
          description: ""
  /{code}/complete:
    get:
      summary: "My Job Completed Successfully"
      operationId: ReportComplete
      tags:
        - heartbeat
      parameters:
      - in: path
        name: code
        type: string
        required: true
        description: "Might be the monitor code or name"
      - in: query
        name: auth_key
        type: string
      tags:
        - heartbeat
      responses:
        200:
          description: ""
  /{code}/fail:
    get:
      summary: "My Job Has Failed"
      operationId: ReportFail
      tags:
        - heartbeat
      parameters:
      - in: path
        name: code
        type: string
        required: true
        description: "Might be the monitor code or name"
      - in: query
        name: auth_key
        type: string
      tags:
        - heartbeat
      responses:
        200:
          description: ""
  /{code}/pause/{hours}:
    get:
      summary: "No alerts should be sent for __ hours"
      operationId: Pause
      tags:
        - heartbeat
      parameters:
      - in: path
        name: code
        type: string
        required: true
        description: "Might be the monitor code or name"
      - in: path
        name: hours
        type: integer
        required: true
        description: ""
      - in: query
        name: auth_key
        type: string
      tags:
        - heartbeat
      responses:
        200:
          description: ""
definitions:
  MonitorParams:
    properties:
      name:
        type: string
      type:
        type: string
        enum:
        - heartbeat
        - healthcheck
      note:
        type: string
      notifications:
        type: object
        $ref: "#/definitions/Notification"
      rules:
        type: array
        items:
          $ref: "#/definitions/RuleHeartbeat"
      request_interval_seconds:
        type: number
        minimum: 30
        maximum: 300
        description: "required only healthcheck"
      request:
        $ref: "#/definitions/Request"
      tags:
        type: array
        x-omitempty: true
        items:
          type: string
    required:
      - name
      - type
      - notifications
      - rules
  Monitor:
    properties:
      code:
        type: string
      type:
        type: string
        enum:
        - heartbeat
        - healthcheck
      initialized:
        type: boolean
      is_paused:
        type: boolean
      is_passing:
        type: boolean
      has_duration_history:
        type: boolean
      name:
        type: string
      notifications:
        type: object
        $ref: "#/definitions/Notification"
      rules:
        type: array
        items:
          $ref: "#/definitions/RuleHeartbeat"
      note:
        type: string
  Notification:
    properties:
      templates:
        type: "array"
        x-omitempty: true
        items:
          type: string
      emails:
        type: "array"
        x-omitempty: true
        items:
          type: string
      slack:
        type: "array"
        x-omitempty: true
        items:
          type: string
      pagerduty:
        type: "array"
        x-omitempty: true
        items:
          type: string
      phones:
        type: "array"
        x-omitempty: true
        items:
          type: string
      webhooks:
        type: "array"
        x-omitempty: true
        items:
          type: string
  RuleHeartbeat:
    properties:
      rule_type:
        type: "string"
        enum:
          - not_on_schedule
          - run_ping_not_received
          - complete_ping_not_received
          - ran_longer_than
          - ran_less_than
          - run_ping_received
          - complete_ping_received
      value:
        type: integer
      time_unit:
        type: string
        enum:
          - seconds
          - minutes
          - hours
          - days
          - weeks
      hours_to_followup_alert:
        type: integer
      grace_seconds:
        type: integer
    required:
      - rule_type
      - value
  RuleHealthcheck:
    properties:
      rule_type:
        type: string
        enum:
          - response_time
          - response_code
          - response_body
      operator:
        type: string
        enum:
          - eq
          - lt
          - lte
          - gt
          - gte
          - not
          - contains
      value:
        type: number
      hours_to_followup_alert:
        type: number
    required:
      - rule_type
      - value
      - operator
  Request:
    properties:
      url:
        type: string
      method:
        type: string
        enum:
          - GET
          - HEAD
          - PATCH
          - POST
          - PUT
      body:
        type: string
        description: "only required for PATCH, POST, PUT"
      headers:
        type: object
        additionalProperties:
          type: string
        description: "limit: 5120 chars, map string/string"
      cookies:
        type: object
        additionalProperties:
          type: string
        description: "limit: 5120 chars, map string/string"
      timeout_seconds:
        type: number
        minimum: 1
        maximum: 10
    required:
      - url
      - method
  NotFound:
    properties:
      message:
        type: string