name: golangci-lint
on:
  push:
    branches:
      - master
      - main
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    strategy:
      matrix:
        go: [1.16, 1.17]
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.37
          args: --disable-all -E deadcode -E goconst -E gofmt -E goimports -E golint -E gosec -E govet -E ineffassign -E interfacer -E maligned -E megacheck -E misspell -E structcheck -E unparam -E varcheck --timeout=5m
